body{

  
}
*{
    padding: 0;
    margin: 0;
}
.full-container{
    width:100wh;
    height:100vh;
    border:2px solid red;
    /* background-color: rebeccapurple; */

}
.text-container{
    display: flex;
    flex-direction: column;
    gap:34px;

}
.image-container{

}
.sub-text-container1{
    font-size: 60px;
    border:3px solid violet;
    width:400px;
    /* font-weight: bolder; */
    color: hsl(300, 43%, 22%);
}
.sub-text-container2{
    font-size: 15px;
    border:3px solid indianred;
    width:340px;
    color:hsl(333, 80%, 67%);
}




.fon {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}