
* {
  padding: 0;
  margin: 0;
}
.full-container {
  width: 100wh;
  height: 100vh;
 
  
}
.text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: center;
  align-items: center;
  height: 50vh;
  
}
.sub-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.image-container {
}
.sub-text-container1 {
  
  font-size: 45px;

  width: 350px;
  
  color: hsl(300, 43%, 22%);
}
.sub-text-container2 {
  font-size: 15px;
  
  width: 360px;
  color: hsl(303, 10%, 53%);
  line-height: 22px;
}

.fon {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.right-sub1 {
  display: flex;
 
  gap: 36px;

  padding: 20px;
  
  background-color: hsl(300, 24%, 96%);
}
.right-sub2 {
  display: flex;
 
  gap: 36px;

  padding: 20px;
  background-color: hsl(300, 24%, 96%);
}
.right-sub3 {
  display: flex;
 
  gap: 36px;

  padding: 20px;
  background-color: hsl(300, 24%, 96%);
}
.staricon1 {
  display: flex;
  gap: 8px;
}

.weight400 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rated1 {
  color: hsl(300, 43%, 22%);
}
.right-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  


}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    height: 50%;
    
}
.sub-image-container1{


    width: 350px;
    height: 250px;
    
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
   
}

.sub-image-container2{
    width: 350px;
    height: 250px;
 
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
   
}
.sub-image-container3{
    width: 350px;
    height: 250px;
   
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
   
}
.content1{
    color: hsl(0, 0%, 100%);
    width: 300px;
    line-height: 20px;
    font-size: 17px;
}
.header1{
    color: hsl(0, 0%, 100%);
   
}
span{
    color: hsl(333, 80%, 67%);
}
.sub-sub-image-container1{
    display: flex;
    column-gap: 34px;
    padding-top: 30px;
   
}
.sub-image-container1{
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    justify-items: start;
    align-items:stretch;
    padding-left: 40px;
    align-self: flex-start;
}
.sub-image-container2{
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    justify-items: start;
    align-items: normal;
    padding-left: 40px;
    align-self: center;
}
.sub-image-container3{
    display: grid;
    grid-template-rows: 0.8fr 1fr;
    justify-items: start;
    align-items: stretch;
    padding-left: 40px;
    align-self: flex-end;
    
}
img{
    border-radius: 50%;
 
}
